<h5>Your cookbooks</h5>

<% @cookbooks.each { |cookbook|  %>
  <%= cookbook.name %>
<% } %>

<button class="btn btn-primary" data-controller="new_cookbook">New cookbook</button>
<%# <%= 'New cookbook', { class: "btn btn-primary" } %>
