<div class="container">
  <h5>Your cookbooks</h5>

  <% if @cookbooks.present? %>
    <% @cookbooks.each { |cookbook|  %>
      <%= cookbook.name %>
    <% } %>
  <% else %>
    <p>Your cookbook list is empty</p>
  <% end %>

  <div data-controller="newCookbook">
    <button class="btn btn-primary" data-newCookbook-target="button" data-action="click->newCookbook#toggleForm">Add cookbook</button>

    <%= render partial: 'shared/cookbook_form', object: @new_cookbook %>

  </div>

</div>
